#content{
    height: 655px;
}
#StudentID{
    width: 25%;
    height: auto;
    max-width: 300px;
    max-height: 300px;
    float: left;
    padding-bottom: 5px;
}
#StudentIDpar{
    margin-bottom: 80px;
}
#WeighWed{
    width: 25%;
    height: auto;
    /* margin-left: 100%; */
    max-width: 300px;
    max-height: 300px;
    float: right;
    
}
#WeighWedpar{
    text-align: right;
    padding-bottom: 60px;
    padding-top: 40px;
}
#bogo{
    width: 25%;
    height: auto;
    max-width: 300px;
    max-height: 300px;
    float: left;
}
#bogopar{
    padding-top: 50px;
}
