body{
    margin: auto;
    background-color: white;
}
h2{
    margin: 0;
    text-align: center;
}


/* Start - Styles for header */
/* Start - Styles for nav */
header{
    background-color:#88BBC6;
}
header h1{
    text-align:center;
    font-family: 'eurostile';
}
header img{
    margin: auto;
    display: block;
    width: 35%;
    height: auto;
}
#nav_menu{
    /* width: calc(100% - 255px); */
    height: 70px;
    padding-top: 15px;
    text-align:center;
    background-color: #6C648B;
}
#nav_menu ul{
    /* width: 100%; */
    list-style-type: none;
    /* position: relative; */
    padding-left: 0;
    padding-top: 15px;
	margin:0;
	
}
#nav_menu ul li{
    /* float: left; */
    display: inline;
    padding-left: 15px;
}
#nav_menu ul li a{
    color: black;
    text-decoration: none;
    padding: 20px;
    background-color: #8FC33A;
}
#nav_menu ul li a:hover{
    color: blue;
}
#mobile_menu{
	display: none;
}

/* End - Styles for nav */
/* End - Styles for header */

/* Start - Styles for Home Page */
#home_about{
    background-color:#E3E3E3;
    padding: 5px;
    min-height: 350px;
}
#home_about_img{
    width: 200px;
    height: 300px;
    float:left;
}
#home{
    margin: auto;
    display: block;
    width: 95%;
    height: auto;
    margin-top: 20px;
    font-size: 1.4em;
}
/* End - Styles for Home Page */
section{
    height: auto;
    background-color:blanchedalmond;
}
section div{
    display: flex;
    justify-content: space-evenly;
    max-width: 1700;
}

section img{
    width: 100%;
    display: block;
}
section div div{
    /* float: left; */
    display: inline-block;
    max-width: 400px;
    /* padding-right: 15px; */
}
section div div h3{
    text-align: center;
}

@media only screen and (max-width: 1238px) {
	#nav_menu{
		display: none;
	}
	#mobile_menu{
        display: block;
    }
	body{
		font-size: 90%;
    }
    header img{
        width: 75%;
    }
    #home{
       width: 100%;
    }
    section div{
        display: block;
        width: 100%;
        margin: auto;
    }
}
@media only screen and (max-width: 550px) {
    #nav_menu{
		display: none;
	}
	#mobile_menu{
        display: block;
    }
	body{
		font-size: 90%;
    }
    header img{
        width: 75%;
    }
    #home{
       width: 100%; 
    }
    #home_about_img{
        width: 50%;
        height: auto;
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}