body{
    margin: auto;
    background-color: #00758F;
    font-family: 'Roboto', sans-serif;
}
h2{
    margin: 0;
    text-align: center;
}
*{
    box-sizing: border-box;
}


/* Start - Styles for header */
/* Start - Styles for nav */
header{
    background-color:#88BBC6;
}
header h1{
    text-align:center;
    font-family: 'eurostile';
}
header img{
    margin: auto;
    display: block;
    width: 35%;
    height: auto;
}
#nav_menu{
    /* width: calc(100% - 255px); */
    height: 70px;
    padding-top: 15px;
    text-align:center;
    background-color: #8B64B3;
}
#nav_menu ul{
    /* width: 100%; */
    list-style-type: none;
    /* position: relative; */
    padding-left: 0;
    padding-top: 15px;
	margin:0;
	
}
#nav_menu ul li{
    /* float: left; */
    display: inline;
    padding-left: 15px;
}
#nav_menu ul li a{
    color: black;
    text-decoration: none;
    padding: 20px;
    background-color: #8FC33A;
}
#nav_menu ul li a:hover{
    color: blue;
}
#mobile_menu{
	display: none;
}

/* End - Styles for nav */
/* End - Styles for header */

/* Start - Styles for Home Page */
#home_about{
    background-color: #ffffff;
    padding: 5px;
    min-height: 350px;
}
#home_about_img{
    width: 200px;
    height: 300px;
    float:left;
}
#home{
    margin: auto;
    display: block;
    width: 95%;
    height: auto;
    margin-top: 20px;
    font-size: 1.4em;
}
/* End - Styles for Home Page */
#showcase{
    height: auto;
    background-color:#88BBC6;
}
#showcase div{
    display: flex;
    justify-content: space-evenly;
}

#showcase img{
    width: 100%;
    display: block;
    max-width: 546.672px;
    max-height: 227.672px;
}
#showcase div div{
    /* float: left; */
    display: inline-block;
    /* max-width: 400px; */
    width: 100%;
    padding: 10px;
    /* padding-right: 15px; */
}
#showcase div div h3{
    text-align: center;
}
#contact{
    height: auto;
    /* background-color: #2886B1; */
    /* background-color: #FFC97D; */
    margin-bottom: 20px;
}
#contact div div h3{
    display: block;
    margin-top: 0;
}
#contact div{
    display:flex;
    justify-content: center;
}
#contact div div{
    background-color: #8FC33A;
    padding: 25px 25px 75px 25px;
}
#additional_details{
    width: 100%;
    height: 45%;
}
/* #contact button{
    margin-bottom: 25px;
} */

footer{
    background-color: black;
    color: white;
}
.fa, .far, .fab{
    color: #FFFF8E;
}
footer a{
    text-decoration: none;
}
footer h5{
    margin-bottom: 0;
}
#social{
    width: 50%;
    margin: auto;
    text-align: center;
    /* margin-top: 26px; */
    padding-top: 15px;
    padding-bottom: 10px;
}
#social a{
    display: inline;
    font-size: 5vmin;
}
@media only screen and (max-width: 1238px) {
	#nav_menu{
		display: none;
	}
	#mobile_menu{
        display: block;
    }
	body{
		font-size: 90%;
    }
    header img{
        width: 75%;
    }
    #home{
       width: 100%;
       /* margin-top: 0; */
    }
    #showcase div{
        display: block;
        width: 100%;
        margin: auto;
        max-width: 500px;
    }
}
@media only screen and (max-width: 605px) {
    #contact input, #contact select{
        display: block;
    }
    #additional_details{
        width: 100%;
        height: 25%;
    }
    form{
        display: inline-block;
    }
}
@media only screen and (max-width: 550px) {
    #nav_menu{
		display: none;
	}
	#mobile_menu{
        display: block;
    }
	body{
		font-size: 90%;
    }
    header img{
        width: 75%;
    }
    #home{
       width: 100%; 
    }
    #home_about_img{
        width: 50%;
        height: auto;
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    #showcase div div{
        padding: 0;
    }
}
@media only screen and (max-width: 230px) {
    #contact div div{
        padding: 0 0 15vmin 0;
    }
    #contact button{
        margin-bottom: 35px;
    }
}